/* Estilo por defecto (cerrado) */
.accordion-button {
    background-color: #f8f9fa;
    /* gris claro de Bootstrap */
    color: #000000;
    /* texto negro */
}

/* Estilo cuando está abierto */
.accordion-button:not(.collapsed) {
    background-color: #04539A;
    color: #ffffff;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)
}

.navbar .nav-link {
    transition: color 0.2s ease;
}


.ribbon {
    position: absolute;
        top: 0;
        left: 0;
        background: #e53935;
        /* Rojo como el de la imagen */
        color: white;
        padding: 5px 5px;
        font-size: 20px;
        font-weight: bold;
        transform: translate(-30%, -30%) rotate(-45deg);
        text-transform: uppercase;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        pointer-events: none;
}
