/* Estilo por defecto (cerrado) */
.accordion-button {
    background-color: #f8f9fa;
    /* gris claro de Bootstrap */
    color: #000000;
    /* texto negro */
}

/* Estilo cuando está abierto */
.accordion-button:not(.collapsed) {
    background-color: #04539A;
    color: #ffffff;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)
}

.navbar .nav-link {
    transition: color 0.2s ease;
}


.triangulo-nuevo {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #e53935; /* Color rojo del triángulo */
    border-right: 80px solid transparent;
}

.triangulo-nuevo span {
    position: absolute;
    top: -60px;       /* Baja el texto al centro del triángulo */
    left: 0px;       /* Ajusta para centrar */
    transform: rotate(-45deg);
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
