/* Estilo por defecto (cerrado) */
.accordion-button {
    background-color: #f8f9fa;
    /* gris claro de Bootstrap */
    color: #000000;
    /* texto negro */
}

/* Estilo cuando está abierto */
.accordion-button:not(.collapsed) {
    background-color: #04539A;
    color: #ffffff;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)
}

.navbar .nav-link {
    transition: color 0.2s ease;
}


.titulo-wordart {
    font-weight: 900;
    font-size: 3rem;
    /* Más grueso */
    color: #007bff;
    /* Azul Bootstrap */
    text-shadow:
        2px 2px 0 #00000030,
        /* sombreado suave */
        4px 4px 10px #00000050;
    /* glow difuso */
    letter-spacing: 2px;
    /* separación elegante */
    transform: skew(-10deg);
    /* leve inclinación WordArt */
}

/* pequeñas transiciones cuando mostramos/ocultamos filas */
#fila2,
#fila3 {
    transition: opacity 300ms ease, max-height 350ms ease;
    overflow: hidden;
}

.hidden-row {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.visible-row {
    opacity: 1;
    max-height: 2000px;
    /* suficientemente grande para el contenido */
    pointer-events: auto;
}
