{% extends "layout.html" %}
{% block title %}FilmstreamGo | Streaming en Nicaragua {%endblock%}

{%block main %}

<div id="carouselExampleIndicators" class="carousel slide mt-2 " data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <!-- IMAGNES 1200 * 500 PX-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{url_for('static', filename='img/Carusel1.svg')}}" class="d-block w-100"
                alt="Acceso Premium Nicaragua" loading="lazy">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='img/Carrusel2.svg')}}" class="d-block w-100"
                alt="Streaming nicaragua barato" loading="lazy">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='img/Carrusel3.svg')}}" class="d-block w-100"
                alt="Musica sin limites en tu celular" loading="lazy">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--------------------------------------------------------------------------------------------------------->

<div class="container mt-4 ">
    <div class="text-center my-3 py-3">
        <h1 class="fw-bold text-dark">Streaming en Nicaragua al mejor precio</h1>
    </div>

    <div class="row g-3 fs-5 py-2 px-2">

        <div class="col-md-3 mb-4 ">
            <div class="card shadow-lg rounded-2">
                <img src="{{url_for('static', filename='img/plataformas/Netflix.svg')}}" alt="Netflix en Nicaragua">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$140.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-2"></i>Servicio Renovable</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-2"></i>Reproducción en 4K (Ultra HD) + HDR</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-2"></i>Acceso a 1 Pantalla a la vez</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-2"></i>Audio espacial de Netflix</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-2"></i>Series y películas sin publicidad y sin
                            límite</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-2"></i>Descarga contenido para ver offline.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/200-200 NetflixPrivada.svg')}}"
                    alt="Netflix Privado">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$180.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Reproducción en 4K (Ultra HD) + HDR</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Acceso a 1 Pantalla a la vez</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Audio espacial de Netflix</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Libertad para ver Netflix desde fuera de
                            su
                            hogar</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descarga contenido para ver offline.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-3 mb-4">
            <div class="card  shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/200-200 Disney Premium.svg')}}"
                    alt="Disney Premium en Nicaragua">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$160.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Catálogo completo de Disney+.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Todos los canales de ESPN.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Canales SPN para ver en Vivo</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descarga contenido para ver offline.
                        </li>
                    </ul>
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/200-200 Disney Standar.svg')}}"
                    alt="Disney standar Nicaragua">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$130.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Catálogo completo de Disney+.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Todos los canales de ESPN.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Películas y series de Star.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descarga contenido para ver offline.
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


    <!------------------------------------SEGUNDA FILA-->

    <div class="row g-3 fs-5 px-2">
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/Spotify.svg')}}" alt="Spotify nicaragua">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$120.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Escucha Músicas sin anuncio.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descarga contenido para escuchar offline.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Reproduce canciones en el orden que quieras. </li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Disfruta de audio de alta calidad.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Escucha contenido con tu persona favorita en tiempo real.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Organiza la fila de reproducción.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/Vix.svg')}}" alt="Vix Premium">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$100.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Series originales para todos los gusto.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Estreno de peliculas exclusivas</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Noticias para ver 24/7</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Deporte premium en vivo</li>
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-3 mb-4">
            <div class="card  shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/Youtube.svg')}}" alt="Youtube Premium">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$150.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Sin Anuncios.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Reproducción en Segundo Plano.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descargas Offline.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>YouTube Music Premium.</li>
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-3 mb-4">
            <div class="card  shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/Crunchyroll.svg')}}"
                    alt="Crunchyroll Nicaragua">
                <div class="card-body ">
                    <p class="card-text fw-bold fs-4">C$100.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Amplio catálogo de anime</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Simulcast</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Doblajes y subtítulos.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descargas offline.</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>

    <!------------------------------------Tercera FILA-->

    <div class="row g-3 fs-5 px-2">
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/HboMax.svg')}}" alt="Hbo Max Nicaragua">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$90.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Resolucion Full HD</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Estreno de peliculas exclusivas</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descargas offline.</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="{{url_for('static', filename='img/plataformas/Prime Video.svg')}}" alt="Prime Video">
                <div class="card-body">
                    <p class="card-title fw-bold fs-4">C$90.00</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Servicio Renovable.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Amplio catalogo de contenido.</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Función X-Ray</li>
                        <li><i class="bi bi-check-lg text-danger me-2 fs-3"></i>Descargas offline.</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>

</div>


</div>







<!--------------------------------------------------------------------------->

<div class="container-fluid" style="background-color: #04539A;">
    <div class="row my-5">

        <div class="col-md-3 text-white text-center my-2">
            <i class="bi bi-shield-fill-plus fs-1 "></i>
            <p class="fs-5">Pagos Seguros</p>
        </div>

        <div class="col-md-3 text-white text-center my-2">
            <i class="bi bi-tools fs-1 "></i>
            <p class="fs-5">Soporte Técnico</p>
        </div>


        <div class=" col-md-3 text-white text-center my-2">
            <i class="bi bi-stopwatch-fill fs-1"></i>
            <p class="fs-5">Entrega Inmediata</p>
        </div>

        <div class=" col-md-3 text-white text-center my-2">
            <i class="bi bi-headset fs-1"></i>
            <p class="fs-5">Atención 24/7</p>
        </div>

    </div>
</div>

<!-------------------------------------------------------->

<div class="container-fluid my-5 ">

    <div class="row d-flex align-items-stretch g-3">
        <div class="col-md-6 d-flex">
            <div class=" rounded-5">
                <img class="img-fluid h-100 rounded-5 shadow-lg"
                    src="{{url_for('static', filename='img/Presentacion2.svg')}}"
                    alt="Todas tus plataformas en un solo lugar.">
            </div>


        </div>

        <div class="col-md-6  d-flex">
            <div class=" rounded-5 border border-primary p-3" style="background-color:#ededed; text-align: justufy;">
                <h2 class="mb-3 text-center fw-bold text-primary">¿Por qué elegirnos?</h2>
                <p>
                    En un mercado lleno de opciones, nosotros vamos más allá de solo ofrecerte acceso a plataformas de
                    streaming.
                    Nuestra misión es brindarte <strong>comodidad, seguridad y atención personalizada</strong> para que
                    disfrutes de tus series,
                    películas y contenido favorito sin preocupaciones.
                </p>

                <ul class="list-unstyled mt-3">
                    <li class="mb-3 d-flex align-items-start">
                        <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                        <div>
                            <h5 class="mb-1">Atención personalizada 24/7</h5>
                            <p class="mb-0">Siempre estamos disponibles para responder tus dudas y ayudarte en lo que
                                necesites.</p>
                        </div>
                    </li>

                    <li class="mb-3 d-flex align-items-start">
                        <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                        <div>
                            <h5 class="mb-1">Guía de instalación paso a paso</h5>
                            <p class="mb-0">Te acompañamos en todo el proceso para que disfrutes de tu cuenta sin
                                complicaciones.</p>
                        </div>
                    </li>

                    <li class="mb-3 d-flex align-items-start">
                        <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                        <div>
                            <h5 class="mb-1">Flexibilidad en los pagos</h5>
                            <p class="mb-0">Si necesitas un día o dos para completar tu pago, ¡no pasa nada! Confiamos
                                en
                                ti.</p>
                        </div>
                    </li>

                    <li class="mb-3 d-flex align-items-start">
                        <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                        <div>
                            <h5 class="mb-1">Garantía de servicio</h5>
                            <p class="mb-0">Si la plataforma presenta algún problema, te reponemos con una cuenta nueva
                                sin
                                costo adicional.</p>
                        </div>
                    </li>

                    <li class="d-flex align-items-start">
                        <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                        <div>
                            <h5 class="mb-1">Confianza y compromiso</h5>
                            <p class="mb-0">Construimos relaciones basadas en transparencia y responsabilidad.</p>
                        </div>
                    </li>
                </ul>

                <p class="mt-4 fw-bold text-center text-primary">Con nosotros no solo adquieres una cuenta, obtienes un
                    equipo dispuesto
                    a respaldarte en cada paso.</p>
            </div>
        </div>


    </div>
</div>

<!-------------------------------------------------------->
<div class="container-fluid my-5">
    <div class="text-center mt-5">
        <h3>Preguntas Frecuentes</h3>
    </div>

    <div class="accordion px-5 mt-3 " id="accordionPanelsStayOpenExample">

        <!-- Item 1 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Cómo funciona el servicio?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body fs-5">
                    Al contratar, te compartimos un perfil en la plataforma elegida. Solo ingresás con las credenciales
                    que te enviamos y podés disfrutar el contenido de inmediato.
                </div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Es seguro usar un perfil compartido?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Sí. Los perfiles son privados y cada usuario tiene su propio espacio dentro de la cuenta.
                </div>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Qué formas de pago aceptan?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Podés pagar con transferencia bancaria, depósito, pago móvil o efectivo según tu conveniencia.
                </div>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ¿Cuánto tiempo tarda en activarse el servicio?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Una vez confirmado el pago, el acceso se habilita en un plazo máximo de 15 a 30 minutos.
                </div>
            </div>
        </div>

        <!-- Item 5 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    ¿Qué pasa si se cierra mi sesión o tengo problemas para ingresar?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Ofrecemos soporte 24/7. Si tenés cualquier inconveniente, nos contactás y solucionamos el problema
                    de inmediato.
                </div>
            </div>
        </div>

        <!-- Item 6 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    ¿El precio incluye todo el mes?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Sí, el precio publicado corresponde a un mes completo de servicio por perfil.
                </div>
            </div>
        </div>

        <!-- Item 7 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    ¿Puedo contratar varias plataformas al mismo tiempo?
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Claro que sí. Incluso tenemos descuentos especiales al combinar dos o más servicios. Ve nuestra
                    seccion de Combos Duos
                </div>
            </div>
        </div>

        <!-- Item 8 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    ¿Qué garantía ofrecen?
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Garantizamos estabilidad y acceso durante el tiempo contratado. Si surge un problema que no se puede
                    resolver, se reemplaza la cuenta o se extiende el tiempo de uso sin costo adicional.
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
