{% extends "layout.html" %}
{% block title %}FilmstreamGo | Streaming en Nicaragua {%endblock%}

{%block main %}

<div id="carouselExampleIndicators" class="carousel slide mt-2 " data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <!-- IMAGNES 1200 * 500 PX-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <picture>
                <source media="(max-width: 768px)" srcset="{{ url_for('static', filename='img/movil/Navv1.svg') }}">
                <img src="{{url_for('static', filename='img/Nav1.svg')}}" class="d-block w-100"
                    alt="Acceso Premium Nicaragua" loading="lazy">
            </picture>
        </div>
        <div class="carousel-item">
            <picture>
                <source media="(max-width: 768px)" srcset="{{ url_for('static', filename='img/movil/Navv2.svg') }}">
                <img src="{{url_for('static', filename='img/Nav2.svg')}}" class="d-block w-100"
                    alt="Streaming nicaragua barato" loading="lazy">

            </picture>

        </div>
        <div class="carousel-item">
            <picture>
                <source media="(max-width: 768px)" srcset="{{ url_for('static', filename='img/movil/Navv3.svg') }}">
                <img src="{{url_for('static', filename='img/Nav3.svg')}}" class="d-block w-100"
                    alt="Musica sin limites en tu celular" loading="lazy">
            </picture>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--------------------------------------------------------------------------------------------------------->


<div class="container-fluid py-2" style="background-color:#ededed;">
    <h3 class="text-primary titulo-estilo-comtech">
        TUS PLATAFORMAS FAVORITAS ESTAN AQUÍ
    </h3>
</div>


<div class="container-fluid">
    <div class="mx-4 px-4 py-4">
        <div id="fila1" class="row g-5 d-flex align-items-stretch">
            <div class="col-12 col-md-3  mb-5 d-flex">
                <div class="card  rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Net.svg')}}"
                        alt="Netflix en Nicaragua">
                    <div class="card-body p-3 d-flex flex-column ">
                        <p class="card-title fs-4 text-primary text-center">C$140.00/Mes</p>
                        <div class="text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1001 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!---->

            <!---->
            <div class="col-12 col-md-3  mb-5 d-flex">
                <div class="card rounded-4  w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Net2.svg')}}"
                        alt="Netflix Privado">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$180.00/Mes</p>
                        <div class="text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1011 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!---->

            <div class="col-12 col-md-3  mb-5 d-flex">
                <div class="card  rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/DisnP.svg')}}"
                        alt="Disney Premium en Nicaragua">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$160.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1002 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
            <!---->

            <div class="col-12 col-md-3  mb-5 d-flex">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/DisnS.svg')}}"
                        alt="Disney standar Nicaragua">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$130.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1022 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!------------------------------------SEGUNDA FILA-->

        <div id="fila2" class="row g-5  d-flex align-items-stretch">
            <div class="col-12 col-md-3 mb-4 d-flex">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Spot.svg')}}"
                        alt="Spotify nicaragua">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$120.00/Mes</p>
                        <div class="mb-3 text-center">
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1003 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4 d-flex">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Vixp.svg')}}"
                        alt="Vix Premium">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$100.00/Mes</p>
                        <div class="mb-3 text-center">
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1004 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-3 mb-4 d-flex">
                <div class="card  rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/YouT.svg')}}"
                        alt="Youtube Premium">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$150.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1005 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-3 mb-4 d-flex">
                <div class="card  rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Crunc.svg')}}"
                        alt="Crunchyroll Nicaragua">
                    <div class="card-body d-flex flex-column">
                        <p class="card-text fs-4 text-primary  text-center">C$100.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1006 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!------------------------------------Tercera FILA-->

        <div id="fila3" class="row g-5   d-flex align-items-stretch">
            <div class="col-12 col-md-3 mb-4 d-flex">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Hb.svg')}}"
                        alt="Hbo Max Nicaragua">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$90.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1006 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4 d-flex">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/plataformas/Prime.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$90.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> FSG-1007 |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="text-center mt-5">
        <button id="btnVerMas" class="btn btn-primary px-5 py-2 rounded-4 fw-bold border border-1 text-with">Ver más
            Productos</button>
    </div>
</div>




<!-------------------------------------------------------------------------->
<!--Imagen de los combos-->

<div class="container-fluid mt-5">
    <div class="mx-5">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <img class="rounded-5 " src="{{url_for('static', filename='img/Combos/Imagen de Combos.svg')}}"
                    alt="Todas tus plataformas en un solo lugar.">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center text-center">
                <h2 class="titulo-wordart">TUS COMBOS FAVORITOS ESTAN <span class="text-warning">AQUÍ</span><i
                        class="bi bi-arrow-down fs-1 justify-content-center d-block mx-auto mt-2"
                        style="cursor:pointer;" onclick="scrollToCombos()"></i></h2>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid py-5">
    <div class="mx-4 px-4 ">
        <div id="fila4" class="row py-4 combos-section">
            <div class="col-md-3 px-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo1.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$220.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB1-NTCHLL |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Combo 2 -->
            <div class="col-md-3 px-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo2.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$220.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB2-NTHM |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Combo 1 -->
            <div class="col-md-3 px-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo3.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$220.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB3-NTPV |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3 px-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo4.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$250.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB4-NTSP |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!---------------------------------Fila2------------------------------->

        <div id="fila5" class="row g-1 my-2">
            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo5.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$290.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB5-NTDNYPM |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo6.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$260.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB6-NTDNYST |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo7.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$280.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB7-NTYTB |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo8.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$220.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB8-NTVX |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!---------------------------------Fila3------------------------------->


        <div id="fila6" class="row g-1 my-2">
            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo9.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$180.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB9-HBPR |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo10.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$240.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB10-DNYSTSP |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo11.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$270.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CB11-DNYPRMSP |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 px-3 pb-3 mb-4">
                <div class="card rounded-4 w-100">
                    <img class="rounded-top-4" src="{{url_for('static', filename='img/Combos/Combo12.svg')}}"
                        alt="Prime Video">
                    <div class="card-body d-flex flex-column">
                        <p class="card-title fs-4 text-primary  text-center">C$260.00/Mes</p>
                        <div class=" text-center">
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                            <i class="bi bi-star fs-5 "></i>
                        </div>
                        <div class="text-center">
                            <p><span class="fw-bold">Cod:</span> CM12-YTBSP |
                                <span class="fw-bold">Acceso:</span> 1 Dispositivo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <button id="btnVerCombos" class="btn btn-primary px-5 py-2 rounded-4 fw-bold border border-1 text-with">Ver
                más
                Combos</button>
        </div>
    </div>
</div>



<!--------------------------------------------------------------------------->


<div class="container-fluid my-5 ">
    <div class="mx-4 px-4 ">
        <div class="row d-flex align-items-stretch g-3">
            <div class="col-md-6 d-flex">
                <div class=" rounded-5">
                    <img class="img-fluid h-100 rounded-5 shadow-lg"
                        src="{{url_for('static', filename='img/Presentacion2.svg')}}"
                        alt="Todas tus plataformas en un solo lugar.">
                </div>
            </div>

            <div class="col-md-6  d-flex">
                <div class=" rounded-5 border border-primary p-3"
                    style="background-color:#ededed; text-align: justufy;">
                    <h2 class="mb-3 text-center fw-bold text-primary">¿Por qué elegirnos?</h2>
                    <p>
                        En un mercado lleno de opciones, nosotros vamos más allá de solo ofrecerte acceso a plataformas
                        de
                        streaming.
                        Nuestra misión es brindarte <strong>comodidad, seguridad y atención personalizada</strong> para
                        que
                        disfrutes de tus series,
                        películas y contenido favorito sin preocupaciones.
                    </p>

                    <ul class="list-unstyled mt-3">
                        <li class="mb-3 d-flex align-items-start">
                            <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                            <div>
                                <h5 class="mb-1">Atención personalizada 24/7</h5>
                                <p class="mb-0">Siempre estamos disponibles para responder tus dudas y ayudarte en lo
                                    que
                                    necesites.</p>
                            </div>
                        </li>

                        <li class="mb-3 d-flex align-items-start">
                            <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                            <div>
                                <h5 class="mb-1">Guía de instalación paso a paso</h5>
                                <p class="mb-0">Te acompañamos en todo el proceso para que disfrutes de tu cuenta sin
                                    complicaciones.</p>
                            </div>
                        </li>

                        <li class="mb-3 d-flex align-items-start">
                            <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                            <div>
                                <h5 class="mb-1">Flexibilidad en los pagos</h5>
                                <p class="mb-0">Si necesitas un día o dos para completar tu pago, ¡no pasa nada!
                                    Confiamos
                                    en
                                    ti.</p>
                            </div>
                        </li>

                        <li class="mb-3 d-flex align-items-start">
                            <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                            <div>
                                <h5 class="mb-1">Garantía de servicio</h5>
                                <p class="mb-0">Si la plataforma presenta algún problema, te reponemos con una cuenta
                                    nueva
                                    sin
                                    costo adicional.</p>
                            </div>
                        </li>

                        <li class="d-flex align-items-start">
                            <i class="bi bi-check-lg fs-1 text-warning me-3"></i>
                            <div>
                                <h5 class="mb-1">Confianza y compromiso</h5>
                                <p class="mb-0">Construimos relaciones basadas en transparencia y responsabilidad.</p>
                            </div>
                        </li>
                    </ul>

                    <p class="mt-4 fw-bold text-center text-primary">Con nosotros no solo adquieres una cuenta, obtienes
                        un
                        equipo dispuesto
                        a respaldarte en cada paso.</p>
                </div>
            </div>


        </div>
    </div>
</div>

<!-------------------------------------------------------->
<div class="container-fluid my-5">
    <div class="text-center mt-5">
        <h3>Preguntas Frecuentes</h3>
    </div>

    <div class="accordion px-5 mt-3 " id="accordionPanelsStayOpenExample">
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Cómo funciona el servicio?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body fs-5">
                    Al contratar, te compartimos un perfil en la plataforma elegida. Solo ingresás con las credenciales
                    que te enviamos y podés disfrutar el contenido de inmediato.
                </div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Es seguro usar un perfil compartido?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Sí. Los perfiles son privados y cada usuario tiene su propio espacio dentro de la cuenta.
                </div>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Qué formas de pago aceptan?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Podés pagar con transferencia bancaria, depósito, pago móvil o efectivo según tu conveniencia.
                </div>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ¿Cuánto tiempo tarda en activarse el servicio?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Una vez confirmado el pago, el acceso se habilita en un plazo máximo de 15 a 30 minutos.
                </div>
            </div>
        </div>

        <!-- Item 5 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    ¿Qué pasa si se cierra mi sesión o tengo problemas para ingresar?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Ofrecemos soporte 24/7. Si tenés cualquier inconveniente, nos contactás y solucionamos el problema
                    de inmediato.
                </div>
            </div>
        </div>

        <!-- Item 6 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    ¿El precio incluye todo el mes?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Sí, el precio publicado corresponde a un mes completo de servicio por perfil.
                </div>
            </div>
        </div>

        <!-- Item 7 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    ¿Puedo contratar varias plataformas al mismo tiempo?
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Claro que sí. Incluso tenemos descuentos especiales al combinar dos o más servicios. Ve nuestra
                    seccion de Combos Duos
                </div>
            </div>
        </div>

        <!-- Item 8 -->
        <div class="accordion-item shadow-lg">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button  fs-5 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    ¿Qué garantía ofrecen?
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body  fs-5">
                    Garantizamos estabilidad y acceso durante el tiempo contratado. Si surge un problema que no se puede
                    resolver, se reemplaza la cuenta o se extiende el tiempo de uso sin costo adicional.
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
